<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="SERVER_PORT" source="server.port" defaultValue="9096"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{requestId:-no-request}] [%X{userId:-anonymous}] [%X{companyId:-no-company}] [%logger{36}] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${SERVER_PORT}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="com.upmudoum.trade.config.ApiLoggingInterceptor" level="INFO"/>
    <logger name="com.upmudoum.trade.domain.kis.infra" level="INFO"/>
    <logger name="com.upmudoum.trade.domain.account" level="INFO"/>
    <logger name="com.upmudoum.trade.domain.watchlist" level="INFO"/>
    <logger name="com.upmudoum.trade.domain.trade" level="INFO"/>
    <logger name="com.upmudoum.trade.domain.marketdata" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY_FILE"/>
    </root>
</configuration>
